@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
